*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#111;
  font-family: Arial, sans-serif;
}
@media (max-width: 480px){
  .about{
    padding:60px 5%;
  }

  .about-image img{
    height:280px;
  }

  .about-content h2{
    font-size:34px;
  }

  .about-content p{
    font-size:16px;
  }
}