body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ========================= */
/* SMALL MOBILE */
/* ========================= */
@media (max-width: 480px){
  .about{
    padding:60px 5%;
  }

  .about-image img{
    height:280px;
  }

  .about-content h2{
    font-size:34px;
  }

  .about-content p{
    font-size:16px;
  }
}