/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* NAVBAR */
.navbar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:90px;
  padding:0 8%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  z-index:9999;
  background: rgba(10,10,10,.92);
  backdrop-filter: blur(12px);
  border-bottom:1px solid rgba(255,255,255,.08);
}

/* LOGO */
.logo{
  color:white;
  font-size:32px;
  font-weight:800;
  cursor:pointer;
}

/* MENU */
.navbar ul{
  display:flex;
  align-items:center;
  list-style:none;
  gap:35px;
}

.navbar li a {
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
  text-decoration:none;
}

.navbar li:hover{
  opacity:.75;
}

/* BUTTON */
.navbar button{
  border:none;
  background:white;
  padding:14px 26px;
  border-radius:999px;
  font-size:15px;
  font-weight:700;
  cursor:pointer;
  transition:.3s;
}

.navbar button:hover{
  transform:translateY(-2px);
}

/* ========================= */
/* HAMBURGER (OCULTO DESKTOP) */
/* ========================= */

.menu-icon{
  display:none;
  font-size:30px;
  color:white;
  cursor:pointer;
}

/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width: 1024px){
  .navbar{
    padding:0 6%;
  }

  .navbar ul{
    gap:20px;
  }

  .logo{
    font-size:28px;
  }
}

/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width: 768px){

  .menu-icon{
    display:block;
  }

  .navbar ul{
    position: absolute;
    top:90px;
    left:0;
    width:100%;
    flex-direction:column;
    background: rgba(10,10,10,.98);
    padding:20px 0;
    gap:20px;

    display:none;
  }

  .navbar ul.active{
    display:flex;
  }

  .navbar button{
    display:none;
  }
}
