.ofertas-page{
  background:#111;
  color:white;
  min-height:100vh;
  padding:60px 8%;
}

.ofertas-hero{
  text-align:center;
  margin-bottom:50px;
}

.ofertas-hero h1{
  font-size:50px;
}

.ofertas-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}

.oferta-card{
  background:#1c1c1c;
  padding:25px;
  border-radius:20px;
  text-align:center;
  transition:.3s;
}

.oferta-card:hover{
  transform:translateY(-10px);
}

.price{
  display:block;
  font-size:22px;
  margin:10px 0;
}

.discount{
  display:block;
  color:#00e676;
  margin-bottom:15px;
  font-weight:700;
}

button{
  background:#25D366;
  color:white;
  border:none;
  padding:12px 18px;
  border-radius:10px;
  cursor:pointer;
}

/* RESPONSIVE */
@media(max-width:1024px){
  .ofertas-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:768px){
  .ofertas-grid{
    grid-template-columns:1fr;
  }

  .ofertas-hero h1{
    font-size:32px;
  }
}