.whatsapp-button{
  position:fixed;
  right:25px;
  bottom:25px;
  z-index:99999;

  background:#25D366;
  color:white;
  text-decoration:none;

  font-size:18px;
  font-weight:700;

  padding:16px 24px;
  border-radius:999px;

  box-shadow:
  0 10px 30px rgba(0,0,0,.25);

  transition:.3s ease;
}

.whatsapp-button:hover{
  transform:translateY(-4px);
}